@import "./_mixins";
@import "./_templates";
@import "./_var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.center {
    padding-right: calc(50% - 1536px / 2);
    padding-left: calc(50% - 1536px / 2);
}

.header {
    position: relative;
    display: grid;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    &__container {
        @extend %flex-between;
    }
    &__wrapper {
        display: grid;
    }
    &__inner {
        display: flex;
    }
    &__wrap {
        border-right: 1px solid $colorMain;
        padding-right: 12px;
        text-align: right;
    }
    &__text {
        @include font(16px, 24px, 400);
    }
    &__box {
        padding-left: 12px;
        text-align: right;
    }
    &__phone {
        @include font(36px, 40px, 900);
        &-text {
            @include font(24px, 32px, 300);
        }
    }

    &__block {
        @extend %flex-between;
        width: 100%;
    }

    &__btn {
        @include btn {
            width: 196px;
        }
    }

    &__tablet {
        display: none;
        justify-content: center;
        gap: 8px;
        align-items: center;
    }
    &__btn-burger {
        display: none;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &-icon {
            width: 24px;
            height: 24px;
            fill: $colorMain;
        }
    }
    &__btn-close {
        width: 24px;
        height: 24px;
    }
}

.none {
    display: none;
}

.nav {
    display: flex;
    gap: 24px;
    &__link {
        @include font(16px, 24px, 700);
        @include linkHover;
    }
}

.active {
    display: grid !important;
}

.main {
    background-color: $colorBg;
    padding-bottom: 72px;
}

.title {
    @include font(36px, 40px, 900);
}

.calculator {
    @extend %flex-between;
    padding-top: 72px;
    gap: 24px;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__inner {
        display: grid;
        gap: 12px;
    }
    &__img {
        border-radius: 16px;
    }
    &__text {
        @include font(20px, 28px, 400);
    }
    &__wrapper {
        padding: 24px 130px;
        border-radius: 16px;
        background: rgb(249, 250, 251);
    }
    &__heading {
        @include font(30px, 36px, 700);
        text-align: center;
    }
    &__subtitle {
        @include font(16px, 24px, 400);
        text-align: center;
        margin-top: 16px;
        margin-bottom: 28px;
    }
    &__input-box {
        display: grid;
        gap: 24px;
        width: 496px;
    }
    &__input-inner {
        display: flex;
        gap: 24px;
    }
    &__input {
        width: 100%;
        height: 48px;
        padding: 12px;
        @include font(16px, 24px, 400);
        border: 2px solid rgb(17, 24, 39);
        border-radius: 4px;
        transition: all 0.2s;
        &::placeholder {
            color: #9ca3af;
            font-size: inherit;
        }
        &:hover {
            border: 2px solid $colorMain;
            color: $colorMain;
        }
        &:active {
            color: $colorMain;
        }
        &:focus {
            color: $colorMain;
        }
        &:invalid {
            border-color: red;
        }
    }
    &__btn {
        @include btn {
            height: 44px;
        }
    }
}

.advantages {
    padding-top: 72px;
    display: grid;
    gap: 24px;
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
        gap: 24px;
    }
    &__item {
        display: flex;
        gap: 24px;
        align-items: center;
        padding: 24px;
    }
    &__icon {
        min-width: 113px;
        max-width: 113px;
    }
    &__inner {
        display: grid;
        gap: 12px;
    }
    &__title {
        @include font(24px, 32px, 900);
    }
    &__text {
        @include font(14px, 20px, 400);
    }
}

.heading {
    @include font(30px, 36px, 900);
    text-align: center;
}

.guarantees {
    padding-top: 72px;
    display: grid;
    gap: 12px;

    &__text {
        @include font(16px, 24px, 400);
        text-align: center;
        max-width: 756px;
        margin: 12px auto 24px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
        gap: 24px;
        align-items: start;
    }
    &__item {
        display: grid;
        gap: 4px;
        transition: transform 0.2s;
        & > a {
            height: 375px;
        }
        & > img {
            height: 375px;
        }
        &:hover {
            transform: scale(1.2);
        }
    }

    &__subtitle {
        text-align: center;
        @include font(18px, 28px, 900);
    }

    &__btn {
        border-radius: 12px;
        background: $colorMain;
        padding: 16px 28px;
        @include font(16px, 24px, 900, #f9fafb);
        width: fit-content;
        border: none;
        outline: none;
        margin: 36px auto 0;
        transition: all 0.2s;
        &:hover {
            background: #a78bfa;
        }
        &:active {
            background: #6d28d9;
        }
        &:disabled {
            background: #ddd6fe;
        }
    }
}

.reviews {
    padding-top: 72px;

    &__text {
        @include font(24px, 32px, 700);
    }
    &__author {
        @include font(24px, 32px, 300, #6b7280);
    }
    &__item {
        padding: 32px 43px;
        background-color: $colorBtn;
        border-radius: 16px;
        display: grid !important;
        align-content: space-between;
        height: 318px;
        padding: 16px;
        position: relative;
        &::before {
            content: "";
            background-image: url("../img/quotes.svg");
            width: 62px;
            height: 43px;
            position: absolute;
            bottom: 10%;
            right: 8%;
        }
    }
    &__slider {
        padding-left: 130px;
        padding-right: 130px;
        height: 318px !important;
    }
}
.reviews > .heading {
    margin-bottom: 32px;
}

.form {
    margin-top: 72px;
    padding: 64px;
    background-color: $colorBtn;
    display: grid;
    gap: 32px;
    justify-content: center;
    border-radius: 16px;
    &__wrap {
        display: grid;
        gap: 24px;
        width: 497px;
    }
    &__inner {
        display: flex;
        gap: 24px;
    }
    &__input {
        border: 2px solid rgb(17, 24, 39);
        border-radius: 4px;
        padding: 12px;
        width: 100%;
        @include font(16px, 24px, 400, #111827);
        &::placeholder {
            color: #9ca3af;
        }
        &--textarea {
            height: 150px;
        }
        &:hover {
            border: 2px solid $colorMain;
            color: $colorMain;
        }
        &:active {
            color: $colorMain;
        }
        &:focus {
            color: $colorMain;
        }
        &:invalid {
            border-color: red;
        }
    }
    &__btn {
        @include btn;
    }
}

.footer {
    background-color: rgb(17, 24, 39);
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    gap: 24px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-box {
        justify-items: start;
    }
    &__wrapper {
        position: relative;
    }
    &__copy {
        @include font(12px, 16px, 400, $colorBtn);
        position: relative;
        &::after {
            content: "";
            background-image: url('../img/smile.svg');
            display: block;
            width: 13px;
            height: 13px;
            position: absolute;
            right: -8%;
            top: 0;
        }
    }
    &__link {
        @include font(16px, 24px, 700, $colorBtn);
        @include linkHover;
    }
    &__phone {
        @include font(36px, 40px, 900, $colorBtn);
    }
    &__subtitle {
        @include font(24px, 32px, 400, $colorBtn);
    }
    &__text {
        @include font(12px, 16px, 300, #4B5563);
    }
    &__name {
        @extend .footer__text;
        font-weight: 400;  
    }
    &__nav {
        display: flex;
        gap: 24px;
        position: absolute;
    top: 36%;
    left: 35%;
    }
    &__container {
        display: flex;
        gap: 148px;
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1600px) {
    .main {
        padding-bottom: 48px;
    }
    .center {
        padding-right: 150px;
        padding-left: 150px;
    }
    .header__phone {
        font-size: 36px;
        line-height: 40px;
        &-text {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .calculator {
        flex-direction: column;
        padding-top: 48px;
        &__wrapper {
            width: 100%;
            display: grid;
            justify-content: center;
            justify-items: center;
        }
        &__container {
            flex-direction: row;
            gap: 16px;
        }
        &__img {
            width: 50%;
        }
        &__inner {
            gap: 0;
        }
        &__subtitle {
            max-width: 400px;
        }
    }
    .title {
        font-size: 30px;
        line-height: 36px;
    }
    .advantages {
        padding-top: 48px;
    }
    .guarantees {
        padding-top: 48px;
        justify-content: center;
    }
    .reviews {
        padding-top: 48px;
    }
    .reviews__text {
        font-size: 18px;
        line-height: 28px;
    }
    .reviews__author {
        font-size: 16px;
        line-height: 24px;
    }
    .reviews__slider {
        height: 276px !important;
        padding-left: 105px;
        padding-right: 105px;
    }
    .slick-list,
    .slick-track {
        height: 276px;
    }
    .reviews__item {
        height: 276px;
    }
    .form {
        margin-top: 48px;
    }
    .footer__container {
        gap: 0;
    }
    .footer__phone {
        font-size: 30px;
        line-height: 36px;
    }
    .footer__subtitle {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 1520px) {
    .footer__nav {
        position: relative;
        top: 0;
        left: 0;
    }
    .footer__wrapper {
        display: grid;
        gap: 24px;
    }
    .footer__nav {
        justify-content: center;
    }
}

@media (max-width: 1365px) {
    .center {
        padding-right: 128px;
        padding-left: 128px;
    }
    .header__wrap {
        display: none;
    }
    .header__block {
        padding-bottom: 12px;
        border-bottom: 2px solid $colorMain;
    }
    .header__tablet {
        display: flex;
        padding-top: 12px;
    }
    .header__container {
        border-bottom: 2px solid $colorMain;
        padding-bottom: 19px;
    }
    .header__text {
        max-width: 233px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    .header__phone {
        font-size: 24px;
        line-height: 32px;
        &-text {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .advantages__items {
        grid-template-columns: repeat(auto-fit, minmax(372px, 1fr));
        row-gap: 34px;
        column-gap: 24px;
    }
    .advantages__item {
        padding: 0;
    }
    .advantages__title {
        font-size: 20px;
        line-height: 28px;
    }
    .advantages__icon {
        min-width: 90px;
        max-width: 90px;
    }
}

@media (max-width: 1024px) {
    .calculator {
        gap: 40px;
        &__container {
            flex-direction: column;
        }
        &__img {
            width: 100%;
        }
    }
    .footer__container {
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
    .footer__text {
        text-align: center;
    }
}

@media (max-width: 960px) {
    .center {
        padding-right: 60px;
        padding-left: 60px;
    }
    .guarantees__items {
        grid-template-columns: 366px;
        justify-content: center;
    }
}

@media (max-width: 830px) {
    .header__wrapper,
    .header__phone-text {
        display: none;
    }
    .header {
        padding-top: 8px;
        padding-bottom: 8px;
        &__inner {
            display: flex;
            gap: 15px;
            align-items: center;
        }
        &__btn-burger {
            display: block;
        }
        &__btn-icon {
            width: 24px;
            height: 24px;
            fill: #a78bfa;
        }
        &__container {
            border: none;
        }
        &__phone {
            font-size: 20px;
            line-height: 28px;
        }
        &__wrapper.active {
            position: absolute;
            border-radius: 0px 0px 16px 16px;
            background: rgb(249, 250, 251);
            width: 100%;
            top: 99%;
            padding: 24px 60px;
            -webkit-animation: slide-in-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
            animation: slide-in-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        }
        &__wrapper.active > &__block {
            border-top: 2px solid $colorMain;
            padding-top: 12px;
        }
    }
    .reviews__slider {
        height: 350px !important;
        padding-left: 99px;
        padding-right: 99px;
    }
    .slick-list,
    .slick-track {
        height: 350px;
    }
    .reviews__item {
        height: 350px;
    }
    .footer__wrap {
        flex-direction: column-reverse;
        gap: 8px;
    }
    .footer__nav {
        margin-bottom: 24px;
    }
    .footer__logo-box, .footer__phone-box {
        display:grid;
        justify-items: center;
        gap: 4px;
    }
}

@media (max-width: 700px) {
    .header__container,
    .header__inner {
        flex-direction: column;
        gap: 20px;
    }
    .header__tablet {
        flex-direction: column;
        gap: 20px;
    }
    .header__block {
        flex-direction: column;
        gap: 12px;
    }
    .calculator__inner {
        gap: 24px;
    }
    .calculator__wrapper {
        padding: 24px 27px;
    }
    .calculator__input-box {
        width: 100%;
    }
    .reviews__slider {
        padding-right: 0;
        padding-left: 0;
    }
    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .slick-track {
        gap: 0;
    }
    .form__inner {
        display: grid;
    }
    .form__wrap {
        width: 400px;
    }
}

@media (max-width: 570px) {
    .calculator__input-inner {
        flex-direction: column;
    }
    .form__wrap {
        width: 310px;
    }
    .form {
        padding: 32px;
    }
}

@media (max-width: 510px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
    }
    .advantages__items {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .advantages__item {
        gap: 10px;
        flex-direction: column;
    }
    .advantages__icon {
        min-width: 70px;
        max-width: 70px;
        height: 50px;
    }
    .advantages__title {
        text-align: center;
    }
    .advantages__text {
        text-align: center;
    }
    .reviews__text {
        font-size: 16px;
    }
    .form {
        justify-items: center;
    }
    .form__wrap {
        width: 280px;
    }
    .footer__nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .center {
        padding-right: 30px;
        padding-left: 30px;
    }
    .header__container img {
        width: 250px;
    }

    .guarantees__items {
        grid-template-columns: 280px;
        justify-items: center;
    }

    .guarantees__subtitle {
        max-width: 250px;
    }

    .guarantees__item > a {
        max-width: 250px;
        height: 250px;
    }
    .guarantees__item > a > img {
        width: 250px;
        height: 250px;
    }
    .reviews__item::before {
        bottom: 4%;
        right: 12%;
    }
    .footer__phone {
        font-size: 25px;
    }
    .footer__subtitle {
        font-size: 15px;
    }
    .footer__logo-box > a > img {
        width: 250px;
    }
}

@media (max-width: 385px) {
    .form__wrap {
        width: 250px;
    }
}

@media (max-width: 350px) {
    .form__wrap {
        width: 230px;
    }
}
