.calculator, .header__block, .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.center {
  padding-right: calc(50% - 768px);
  padding-left: calc(50% - 768px);
}

.header {
  position: relative;
  display: grid;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__wrapper {
  display: grid;
}
.header__inner {
  display: flex;
}
.header__wrap {
  border-right: 1px solid #8B5CF6;
  padding-right: 12px;
  text-align: right;
}
.header__text {
  font-size: 16px;
  color: #111827;
  line-height: 24px;
  font-weight: 400;
}
.header__box {
  padding-left: 12px;
  text-align: right;
}
.header__phone {
  font-size: 36px;
  color: #111827;
  line-height: 40px;
  font-weight: 900;
}
.header__phone-text {
  font-size: 24px;
  color: #111827;
  line-height: 32px;
  font-weight: 300;
}
.header__block {
  width: 100%;
}
.header__btn {
  border-radius: 4px;
  background: #8B5CF6;
  border: none;
  outline: none;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  color: #F9FAFB;
  line-height: 24px;
  font-weight: 700;
  transition: all 0.2s;
  width: 196px;
}
.header__btn:hover {
  background: #A78BFA;
}
.header__btn:active {
  background: #6D28D9;
}
.header__btn:disabled {
  background: #DDD6FE;
}
.header__tablet {
  display: none;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.header__btn-burger {
  display: none;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__btn-burger-icon {
  width: 24px;
  height: 24px;
  fill: #8B5CF6;
}
.header__btn-close {
  width: 24px;
  height: 24px;
}

.none {
  display: none;
}

.nav {
  display: flex;
  gap: 24px;
}
.nav__link {
  font-size: 16px;
  color: #111827;
  line-height: 24px;
  font-weight: 700;
  transition: color 0.2s;
}
.nav__link:hover {
  color: #8B5CF6;
}

.active {
  display: grid !important;
}

.main {
  background-color: #E5E7EB;
}

.title {
  font-size: 36px;
  color: #111827;
  line-height: 40px;
  font-weight: 900;
}

.calculator {
  padding-top: 72px;
  gap: 24px;
}
.calculator__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.calculator__inner {
  display: grid;
  gap: 12px;
}
.calculator__img {
  border-radius: 16px;
}
.calculator__text {
  font-size: 20px;
  color: #111827;
  line-height: 28px;
  font-weight: 400;
}
.calculator__wrapper {
  padding: 24px 130px;
  border-radius: 16px;
  background: rgb(249, 250, 251);
}
.calculator__heading {
  font-size: 30px;
  color: #111827;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}
.calculator__subtitle {
  font-size: 16px;
  color: #111827;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 28px;
}
.calculator__input-box {
  display: grid;
  gap: 24px;
  width: 496px;
}
.calculator__input-inner {
  display: flex;
  gap: 24px;
}
.calculator__input {
  width: 100%;
  height: 48px;
  padding: 12px;
  font-size: 16px;
  color: #111827;
  line-height: 24px;
  font-weight: 400;
  border: 2px solid rgb(17, 24, 39);
  border-radius: 4px;
  transition: all 0.2s;
}
.calculator__input::-moz-placeholder {
  color: #9ca3af;
  font-size: inherit;
}
.calculator__input::placeholder {
  color: #9ca3af;
  font-size: inherit;
}
.calculator__input:hover {
  border: 2px solid #8B5CF6;
  color: #8B5CF6;
}
.calculator__input:active {
  color: #8B5CF6;
}
.calculator__input:focus {
  color: #8B5CF6;
}
.calculator__input:invalid {
  border-color: red;
}
.calculator__btn {
  border-radius: 4px;
  background: #8B5CF6;
  border: none;
  outline: none;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  color: #F9FAFB;
  line-height: 24px;
  font-weight: 700;
  transition: all 0.2s;
  height: 44px;
}
.calculator__btn:hover {
  background: #A78BFA;
}
.calculator__btn:active {
  background: #6D28D9;
}
.calculator__btn:disabled {
  background: #DDD6FE;
}

.advantages {
  padding-top: 72px;
  display: grid;
  gap: 24px;
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
  gap: 24px;
}
.advantages__item {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 24px;
}
.advantages__icon {
  min-width: 113px;
  max-width: 113px;
}
.advantages__inner {
  display: grid;
  gap: 12px;
}
.advantages__title {
  font-size: 24px;
  color: #111827;
  line-height: 32px;
  font-weight: 900;
}
.advantages__text {
  font-size: 14px;
  color: #111827;
  line-height: 20px;
  font-weight: 400;
}

.heading {
  font-size: 30px;
  color: #111827;
  line-height: 36px;
  font-weight: 900;
  text-align: center;
}

.guarantees {
  padding-top: 72px;
  display: grid;
  gap: 12px;
}
.guarantees__text {
  font-size: 16px;
  color: #111827;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  max-width: 756px;
  margin: 12px auto 24px;
}
.guarantees__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  gap: 24px;
  align-items: start;
}
.guarantees__item {
  display: grid;
  gap: 4px;
  transition: transform 0.2s;
}
.guarantees__item > a {
  height: 375px;
}
.guarantees__item > img {
  height: 375px;
}
.guarantees__item:hover {
  transform: scale(1.2);
}
.guarantees__subtitle {
  text-align: center;
  font-size: 18px;
  color: #111827;
  line-height: 28px;
  font-weight: 900;
}
.guarantees__btn {
  border-radius: 12px;
  background: #8B5CF6;
  padding: 16px 28px;
  font-size: 16px;
  color: #f9fafb;
  line-height: 24px;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  margin: 36px auto 0;
  transition: all 0.2s;
}
.guarantees__btn:hover {
  background: #a78bfa;
}
.guarantees__btn:active {
  background: #6d28d9;
}
.guarantees__btn:disabled {
  background: #ddd6fe;
}

.reviews {
  padding-top: 72px;
}
.reviews__text {
  font-size: 24px;
  color: #111827;
  line-height: 32px;
  font-weight: 700;
}
.reviews__author {
  font-size: 24px;
  color: #6b7280;
  line-height: 32px;
  font-weight: 300;
}
.reviews__item {
  padding: 32px 43px;
  background-color: #F9FAFB;
  border-radius: 16px;
  width: 626px !important;
  display: grid !important;
  align-content: space-between;
  height: 318px;
  padding: 16px;
  position: relative;
}
.reviews__item::before {
  content: "";
  background-image: url("../img/quotes.svg");
  width: 62px;
  height: 43px;
  position: absolute;
  bottom: 10%;
  right: 8%;
}
.reviews__slider {
  padding-left: 130px;
  padding-right: 130px;
  height: 318px !important;
}

.reviews > .heading {
  margin-bottom: 32px;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 1600px) {
  .center {
    padding-right: 150px;
    padding-left: 150px;
  }
  .header__phone {
    font-size: 36px;
    line-height: 40px;
  }
  .header__phone-text {
    font-size: 20px;
    line-height: 28px;
  }
  .calculator {
    flex-direction: column;
    padding-top: 48px;
  }
  .calculator__wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .calculator__container {
    flex-direction: row;
    gap: 16px;
  }
  .calculator__img {
    width: 50%;
  }
  .calculator__inner {
    gap: 0;
  }
  .calculator__subtitle {
    max-width: 400px;
  }
  .title {
    font-size: 30px;
    line-height: 36px;
  }
  .advantages {
    padding-top: 48px;
  }
  .guarantees {
    padding-top: 48px;
    justify-content: center;
  }
  .reviews {
    padding-top: 48px;
  }
  .reviews__text {
    font-size: 18px;
    line-height: 28px;
  }
  .reviews__author {
    font-size: 16px;
    line-height: 24px;
  }
  .reviews__slider {
    height: 276px !important;
    padding-left: 105px;
    padding-right: 105px;
  }
  .slick-list, .slick-track {
    height: 276px;
  }
  .reviews__item {
    height: 276px;
  }
}
@media (max-width: 1365px) {
  .center {
    padding-right: 128px;
    padding-left: 128px;
  }
  .header__wrap {
    display: none;
  }
  .header__block {
    padding-bottom: 12px;
    border-bottom: 2px solid #8B5CF6;
  }
  .header__tablet {
    display: flex;
    padding-top: 12px;
  }
  .header__container {
    border-bottom: 2px solid #8B5CF6;
    padding-bottom: 19px;
  }
  .header__text {
    max-width: 233px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .header__phone {
    font-size: 24px;
    line-height: 32px;
  }
  .header__phone-text {
    font-size: 16px;
    line-height: 24px;
  }
  .advantages__items {
    grid-template-columns: repeat(auto-fit, minmax(372px, 1fr));
    row-gap: 34px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .advantages__item {
    padding: 0;
  }
  .advantages__title {
    font-size: 20px;
    line-height: 28px;
  }
  .advantages__icon {
    min-width: 90px;
    max-width: 90px;
  }
  .reviews__item {
    width: -moz-max-content !important;
    width: max-content !important;
  }
}
@media (max-width: 1024px) {
  .calculator {
    gap: 40px;
  }
  .calculator__container {
    flex-direction: column;
  }
  .calculator__img {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .center {
    padding-right: 60px;
    padding-left: 60px;
  }
  .guarantees__items {
    grid-template-columns: 366px;
    justify-content: center;
  }
}
@media (max-width: 830px) {
  .header__wrapper,
  .header__phone-text {
    display: none;
  }
  .header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header__inner {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .header__btn-burger {
    display: block;
  }
  .header__btn-icon {
    width: 24px;
    height: 24px;
    fill: #a78bfa;
  }
  .header__container {
    border: none;
  }
  .header__phone {
    font-size: 20px;
    line-height: 28px;
  }
  .header__wrapper.active {
    position: absolute;
    border-radius: 0px 0px 16px 16px;
    background: rgb(249, 250, 251);
    width: 100%;
    top: 99%;
    padding: 24px 60px;
    animation: slide-in-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .header__wrapper.active > .header__block {
    border-top: 2px solid #8B5CF6;
    padding-top: 12px;
  }
  .reviews__slider {
    height: 350px !important;
    padding-left: 99px;
    padding-right: 99px;
  }
  .slick-list, .slick-track {
    height: 350px;
  }
  .reviews__item {
    height: 350px;
  }
}
@media (max-width: 700px) {
  .header__container,
  .header__inner {
    flex-direction: column;
    gap: 20px;
  }
  .header__tablet {
    flex-direction: column;
    gap: 20px;
  }
  .header__block {
    flex-direction: column;
    gap: 12px;
  }
  .calculator__inner {
    gap: 24px;
  }
  .calculator__wrapper {
    padding: 24px 27px;
  }
  .calculator__input-box {
    width: 100%;
  }
  .reviews__slider {
    padding-right: 0;
    padding-left: 0;
  }
  .slick-next, .slick-prev {
    display: none !important;
  }
  .slick-track {
    gap: 0;
  }
}
@media (max-width: 570px) {
  .calculator__input-inner {
    flex-direction: column;
  }
}
@media (max-width: 510px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
  }
  .advantages__items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .advantages__item {
    gap: 10px;
    flex-direction: column;
  }
  .advantages__icon {
    min-width: 70px;
    max-width: 70px;
    height: 50px;
  }
  .advantages__title {
    text-align: center;
  }
  .advantages__text {
    text-align: center;
  }
  .reviews__text {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .center {
    padding-right: 30px;
    padding-left: 30px;
  }
  .header__container img {
    width: 250px;
  }
  .guarantees__items {
    grid-template-columns: 280px;
    justify-items: center;
  }
  .guarantees__subtitle {
    max-width: 250px;
  }
  .guarantees__item > a {
    max-width: 250px;
    height: 250px;
  }
  .guarantees__item > a > img {
    width: 250px;
    height: 250px;
  }
  .reviews__item::before {
    bottom: 4%;
    right: 12%;
  }
}/*# sourceMappingURL=style.css.map */